data_kg
data_multitq_kg
outputs/
__pycache__
eval_results/
*.egg-info
.codex
results/*
baselines/results/*
.env
*.log
.RAY_DEBUG/
verl_checkpoints/
freebase-rdf-latest.gz
scripts/freebase_mid_gid_to_names.json
